---
---

@import "{{ site.theme }}";

.navigation
    ul a:active{
        background-color:#f0f0f0
    }
    strong{
        color:#222;
        font-weight:700
    }

.navigation li+li+li{
    border-right:none;
    width:89px
}

.navigation a strong{
    font-size:14px;
    display:block;
    color:#222
}
