---
---

@import "{{ site.theme }}";

.navigation{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    max-width:300px;
}
.navigation li{
    text-align:center;
}
