---
---

@import "{{ site.theme }}";
li{
    padding-bottom: 1rem !important;
}
li a:visited{
    color: #267CB9 !important;
}
ol em, .education strong{
    color: #267CB9 !important;
}
.img-opacity{
    opacity: 0.85;
}
.navigation{
    list-style: none !important;
    display: flex !important;
    justify-content: space-around !important;
    gap: 10px !important;
    max-width:300px !important;

}
.navigation li{
    text-align:center !important;
}
// contradict Theme CSS
.underline:hover, .underline:focus{
    color: #267CB9 !important;
    font-weight: normal !important;
}
///////////////////////////////////////////////
// Effect by: https://codepen.io/gabrielcojea/pens/public
.underline{
  position: relative;
}
.underline::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background-color: #ff9933;
  transition: width 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}
@media (hover: hover) and (pointer: fine) {
  .underline:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}
///////////////////////////////////////////////
@media print, screen and (max-width: 960px){
    header ul{
        position: static !important;
    }
}
@media print, screen and (max-width: 300px){
    .navigation{
        flex-direction: column;
        padding-left: 0 !important;
    }
}
